<div class="md:flex md:flex-col md:mb-0 lg:grid lg:grid-cols-12 gap-2">
  <div class="card-container col-span-10 p-12 max-w-4xl mx-auto bg-white shadow-lg rounded-lg border-8 border-gray-400">
    <div class="flex justify-end space-x-4 mb-8">
      <p-button styleClass="p-button-text" icon="pi pi-plus" label="Add group" (click)="onAddGroup()"></p-button>
      <p-button styleClass="p-button-text" icon="pi pi-plus" label="Add competency" (click)="onAddCompetency()"></p-button>
    </div>
    <h1 class="text-3xl font-semibold mb-8 text-gray-800">Competency Framework</h1>
    <div>
      <p-treeTable [value]="competencies" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}"
    styleClass="p-treetable-sm" [columns]="selectedColumns" columnResizeMode="expand">
    <ng-template pTemplate="body" let-rowNode let-columns="columns" let-rowData="rowData">
        <tr [ttRow]="rowNode">
            <td style="width: 300px;">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{ rowData.name }}
            </td>
        </tr>
    </ng-template>
</p-treeTable>
    </div>
  </div>
</div>
